<div class="main">
  <!-- <h1>Mon compte</h1> -->
  <mat-grid-list cols="4">

    <mat-grid-tile [colspan]="3" [rowspan]="2">
      <app-payment class="profile"></app-payment>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="balance" class="balanceDisplay">
      <div class="monCompte">
        <div class="bt-border">balance</div>
        <p class="text-center xLarge">{{balance.balance}} <span>€</span></p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <app-addpurchase></app-addpurchase>
    </mat-grid-tile>

  </mat-grid-list>

</div>
