.monCompte {
  max-width: 1280px;
  margin: 0 auto;
  display: block;
  width: 100%;
  padding: 16px;
  text-align: center;
}

.xLarge {
  font-size: xx-large;
  font-weight: 800;
}

.mat-grid-tile {
  background: #62b5d0
    /* lightblue;*/
}

.main div .mat-grid-tile:first-child .mat-figure {
  background: #fff;
}

.balanceDisplay {
  // padding: 15em 0;
  // padding-top: 0 !important;
  background: #fff;
  box-shadow: 0 0.46875rem 2.1875rem rgba(0, 0, 0, .03), 0 0.9375rem 1.40625rem rgba(0, 0, 0, .03), 0 0.25rem 0.53125rem rgba(0, 0, 0, .05), 0 0.125rem 0.1875rem rgba(0, 0, 0, .03);
}

app-payment {
  width: 100%;
}

:host /deep/ app-payment h1 {
  font-weight: 400 !important;
}

app-addpurchase {
  width: 100%;
  padding: 26px;
}

:host /deep/ app-addpurchase h3 {
  color: white;
  font-size: xx-large;
  margin-top: 0;
}

:host /deep/ app-addpurchase h4 {
  text-align: left;
  font-weight: 500;
}

:host /deep/ app-addpurchase .article {
  margin-bottom: 0px;
}

:host /deep/ app-addpurchase .tarif {
  margin-top: 15px;
}

:host /deep/ app-addpurchase .tarif p {
  color: #fff;
  font-weight: 800;
  font-size: x-large;
  text-align: right;
}

:host /deep/ app-addpurchase button {
  margin-top: 25px;
  width: 100%;
  box-shadow: 0 0.46875rem 2.1875rem rgba(0, 0, 0, 0.03), 0 0.9375rem 1.40625rem rgba(0, 0, 0, 0.03), 0 0.25rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.03);

}
