.purchase {
  max-width: 600px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.tarif,
.article {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 37px 0;
}

.tarif>*,
.article>* {
  margin: auto;
  flex: 1;
}
