<div class="purchase">
  <h3>Faire un achat</h3>
  <div class="article">
    <h4>Articles</h4>
    <mat-form-field>
      <mat-label>Choix article</mat-label>
      <mat-select [(value)]="selectedArticle">
        <mat-option *ngFor="let article of articles" [value]='article'>
          {{article.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="tarif" *ngIf="selectedArticle?.price">
    <h4>Prix</h4>
    <p>{{ selectedArticle?.price}} <span> €</span></p>
  </div>
  <button mat-button class="btn-primary" (click)="addPayment()" *ngIf="selectedArticle?.price">Pay</button>
</div>
