<mat-toolbar>
  <mat-toolbar-row>
    <span class="content_logo_toolbar" routerLink='/balance'>
      <img class="toolbar_logo" src="assets/images/logo_black.svg" />
      <span class="title_toolbar">
        MoneyTrack</span>
    </span>

    <span class="spacer"></span>
    <button mat-flat-button class="btn-toolbar" routerLink="/balance" routerLinkActive="active">
      Mon Compte
    </button>
    <button mat-flat-button class="btn-toolbar" routerLink="/payment" routerLinkActive="active">
      Mes paiements
    </button>
    <button mat-flat-button class="btn-toolbar" routerLink="/addpurchase" routerLinkActive="active">
      Faire un achat
    </button>
    <div class="balance" *ngIf="balance">
      {{balance.balance}} <strong>€</strong>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
