.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #ffff;
  box-shadow: 0 0.46875rem 2.1875rem rgba(0, 0, 0, .03), 0 0.9375rem 1.40625rem rgba(0, 0, 0, .03), 0 0.25rem 0.53125rem rgba(0, 0, 0, .05), 0 0.125rem 0.1875rem rgba(0, 0, 0, .03);
}

.toolbar-icon {
  padding: 0 14px;
}

.content_logo_toolbar {
  cursor: pointer;
  outline: none;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar_logo {
  width: 50px;
  vertical-align: middle;
  outline: none;
}

.mat-toolbar-row button {
  margin: 0 7.5px;
}

.mat-toolbar-row button:last-child {
  margin-right: 0;
}

.btn-toolbar {
  background: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  line-height: 64px;
}

.btn-toolbar.active,
.btn-toolbar:hover {
  color: #000;
}

.btn-toolbar.active:after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #27edb4;
  bottom: 0;
  left: 0;
}

.title_toolbar {
  color: #222529;
  font-weight: 700;
  font-size: xx-large;
  margin-left: 12px;
  vertical-align: middle;
  outline: none;
}

.balance {
  font-size: 15px;
  margin-left: 37px;
}
