/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-elevation {
  box-shadow: 0 0.46875rem 2.1875rem rgba(0, 0, 0, .03), 0 0.9375rem 1.40625rem rgba(0, 0, 0, .03), 0 0.25rem 0.53125rem rgba(0, 0, 0, .05), 0 0.125rem 0.1875rem rgba(0, 0, 0, .03);
}

/*********************************/
/*BUTTON* and color /
/*********************************/
.btn-primary {
  border: 1px solid #27edb4;
  background: #27edb4;
  color: #000;
}

.btn-secondary {
  border: 1px solid #000 !important;
  background: transparent;
  color: #000;
}

.green {
  color: #27edb4;
}

.bt-border {
  border-bottom: 2px solid #27edb4;
  display: initial;
  padding-bottom: 5px;
}

/*********************************/
/*TEXTFIELD*/
/*********************************/

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #000 !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #000;
}

/*********************************/
/*STRUCTURE*/
/*********************************/

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 64px;
  margin: 0 auto;
  max-width: 1440px;
}

.main {
  max-width: 1440px;
  padding: 16px;
  display: block;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #27edb4;
}

div .mat-grid-tile:first-child {
  background: #add8e663;
}

div .mat-grid-tile:first-child .mat-figure {
  align-items: start;
}

div .mat-grid-tile:nth-child(2) {
  z-index: 2;
}
