<section class="main">
  <h1>Mes paiements</h1>
  <div *ngIf="!detailedPayments" class="contentSpinner">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="detailedPayments">
    <!-- <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter"
      />
    </mat-form-field> -->
    <table mat-table [dataSource]="detailedPayments" class="mat-elevation">
      <ng-container matColumnDef="article.label">
        <th mat-header-cell *matHeaderCellDef>Article</th>
        <td mat-cell *matCellDef="let detailedPayment">
          {{ detailedPayment.article.label }}
        </td>
      </ng-container>

      <ng-container matColumnDef="article.price">
        <th mat-header-cell *matHeaderCellDef>Prix</th>
        <td mat-cell *matCellDef="let detailedPayment">
          {{ detailedPayment.article.price }}
        </td>
      </ng-container>

      <ng-container matColumnDef="payment.payment_date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let detailedPayment">
          {{ detailedPayment.payment.payment_date | date: "shortDate" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="payment.state">
        <th mat-header-cell *matHeaderCellDef>Etat</th>
        <td mat-cell *matCellDef="let detailedPayment">
          {{ detailedPayment.payment.state }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</section>
